services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: saktiproduct_app
        working_dir: /var/www
        volumes:
            - .:/var/www
        env_file:
            - .env
        depends_on:
            postgres:
                condition: service_healthy
        restart: always

    nginx:
        image: nginx:alpine
        container_name: saktiproduct_nginx
        ports:
            - "8000:80"
        volumes:
            - .:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        restart: always

    postgres:
        image: postgres:16
        ports:
        - "5433:5432"
        container_name: postgres_sakti
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
            interval: 10s
            timeout: 5s
            retries: 5
        restart: always

volumes:
    postgres_data:
