.main-photo-preview {
    width: 150px; /* Ukuran thumbnail utama */
    height: 150px;
    border: 2px solid #ccc; /* Border abu-abu */
    border-radius: 5px; /* Membulatkan sudut */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #f9f9f9; /* Latar belakang default */
}

.main-photo-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Menjaga proporsi gambar */
}
